<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE USER</title>
</head>
<body>

    <form name="user" action="/addUser" method="post">
        <p>Name</p>
        <input title="Name" type="text" name="name">
        <p>Email</p>
        <input title="Email" type="text" name="email">
        <p>Age</p>
        <input title="Age" type="text" name="age">

        <input title="Submit" type="submit" value="OK">
    </form>

</body>
</html>