<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Hello from Spring!!!</h1>
    <br>
    <a href="/hello">Hello Page </a>
</body>
</html>